/* Selector 'body'
   Aplicado a todo lo que está dentro de body, todos los textos heredaran la fuente y color de este. */
   * {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
   }
body h1 {
  text-align: center;
  margin-bottom: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: xx-large;
 font-weight: bold;
  color: rgb(58, 73, 122);
  background-color: rgb(177, 219, 231);
}

h2 + p {
  color: rgb(57, 7, 81);
  margin-bottom: 30px;
  background-color: #ddd0fa;
  font-family: monospace;
  font-size: x-large;
  font-weight: bold;
}
h2 ~ p {
  margin-left: 25px;
}
/* Selector 'main':
   Define estilos para la sección principal del documento como el color del texto. Reemplaza el color heredado del body. */
main {
  background-color: #d7f0fc;
  color: rgb(3, 66, 61);
  background-color: #d0dffa;
  box-shadow: 0 0 10px rgb(13, 6, 88);
  
}
ul {
  margin: 12px;
  margin-bottom: 10px;
  color: #5997a9;
  background-color: #c8d6fc;
  list-style: square;
}
section > ul {
  background-color: #c7bcf8;
}
#sección {
  margin: 20px;
  margin-bottom: 10px;
  color: #175c68;
  font-family: initial;
}

/* #Lorem; usado para todos los párrafos que utilizan ID. Se define su color, fuente y margen. */
#lorem {
  margin: 20px;
  margin-bottom: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #554280;
}

/* .Lorem2; usado para todos los párrafos que han sido usados con CLASS. Se les ha aplicado color, margen y fuente de letra */
.Lorem2 {
  color: rgb(147, 56, 180);
  background-color: #f7d5ff;
  margin: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.importante {
  margin: 10px;
  margin-bottom: 30;
  color: #042449;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: smaller;
}

.destacado {
  margin: 10px;
  margin-bottom: 19px;
  color: rgb(19, 66, 132);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: small;
}